.navbar {
  background: #007ecc;
}

.navbar a {
  color: #f00000;
  font-size: 18px;
  font-weight: bold;
}

.navbar li {
  display: inline;
  vertical-align: middle;
  align-items: center;
}

font-family: 'Ubuntu', sans-serif;
font-family: 'Telex', sans-serif;
