.nav {
  background: #4281EC;
  height: 50px;
  text-align: justify;
}

.nav a {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  padding: 14px 10px 10px 10px;
}

.nav li {
  display: inline;
}

.jumbotron {
  position: relative;
  background: url("../img/jumbo-background.jpg");
  background-position: center;
  height: 1000px;
  width: auto;
  background-size: cover;
  overflow: hidden;
}

.jumbotron h1 {
  color: #4281EC;
}

.jumbotron h2 {
  color: #4281EC;
}

.thumbnail h2 {
  text-align: center;
}

.thumbnail p {
  text-align: center;
}

#bio {
  text-align: center;
}

footer {
  background: #4281EC;
  height: 200px;
  font-weight: bold;
	text-align: center;
  padding-top: 20px;
	margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

footer h2 {
  color: #fff;
}

footer li {
  display: inline;
}

footer a {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  padding: 14px 10px 10px 10px;
}

@media (max-width: 900px) {
  .nav {
    background: #4281EC;
  }

  .nav li {
    font-size: 10px;
    display: inline;
  }

  .jumbotron {
    background: url("../img/1.jpg");
    background-position: center;
    width: auto;
    background-size: cover;
    overflow: hidden;
	}

  .jumbotron h1 {
    color: #4281EC;
  }

  .jumbotron h2 {
    color: #4281EC;
  }

  footer {
    background: #4281EC;
  }

  footer .fa {
    font-size: 0.75em;
  }
}

@media (max-width: 640px) {
  .nav {
    background: #4281EC;
    height: auto;
    width: auto;
  }

  .nav li {
    font-size: 3px;
    display: inline;
  }

  .jumbotron {
    background: url("../img/2.jpg");
    background-position: center;
    width: auto;
    background-size: cover;
    overflow: hidden;
	}
  .jumbotron h1 {
    color: #4281EC;
  }

  .jumbotron h2 {
    color: #4281EC;
  }

  footer {
    background: #4281EC;
    height: auto;
    width: auto;
  }

  footer .fa {
    font-size: 0.5em;
  }
}

font-family: 'Ubuntu', sans-serif;
font-family: 'Telex', sans-serif;
