.navbar {
  background: #007ecc;
}

.navbar a {
  color: #ff0606;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 10px;
  -ms-align-items: center;
  align-items: center;
}

.navbar li {
  display: inline;
}

font-family: 'Ubuntu', sans-serif;
font-family: 'Telex', sans-serif;
